### Data Structures

In [1]:
L = [1,3,4.5,'name',2]   #list
T = (1,3,4.5,'name',2)   #Tuple
S = {1,3,4.5,'name',2}   #Set
D = {23:"twothree","B":5343,"C":"egsgdfg"}  #Dictionary

In [2]:
print("The type of L is ", type(L))
print("The type of T is ", type(T))
print("The type of S is ", type(S))
print("The type of D is ", type(D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of S is  <class 'set'>
The type of D is  <class 'dict'>

In [4]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

3
3
True
twothree

In [5]:
print(D['B'])

5343

In [6]:
S

{1, 2, 3, 4.5, 'name'}

In [8]:
L

[1, 3, 4.5, 'name', 2]

In [9]:
L[1:3]

[3, 4.5]

In [10]:
L[::-1]

[2, 'name', 4.5, 3, 1]

In [11]:
T[:3]

(1, 3, 4.5)

In [12]:
L = L + ["how","are",6,"you"]
L

[1, 3, 4.5, 'name', 2, 'how', 'are', 6, 'you']

In [13]:
L.append(6.8)
L

[1, 3, 4.5, 'name', 2, 'how', 'are', 6, 'you', 6.8]

In [14]:
T2 = ("a",'b',45)
T3 = T + T2
T3

(1, 3, 4.5, 'name', 2, 'a', 'b', 45)

In [15]:
S

{1, 2, 3, 4.5, 'name'}

In [16]:
S.add(56)
S

{1, 2, 3, 4.5, 56, 'name'}

In [17]:
S.update({23,"game",1})
S

{1, 2, 23, 3, 4.5, 56, 'game', 'name'}

In [18]:
D

{23: 'twothree', 'B': 5343, 'C': 'egsgdfg'}

In [22]:
D['newkey'] = "newvalue"
D

{23: 'twothree', 'B': 5343, 'C': 'egsgdfg', 'newkey': 'newvalue'}

In [19]:
D2 = {"y":"YY","z":10}

In [29]:
D.update(D2)
D

{23: 'twothree', 'B': 5343, 'newkey': 'newvalue', 'y': 'YY', 'z': 10}

In [20]:
L

[1, 3, 4.5, 'name', 2, 'how', 'are', 6, 'you', 6.8]

In [24]:
del L[3]  #"name" will be deleted
L

[1, 3, 4.5, 'how', 'are', 6, 'you', 6.8]

In [25]:
S

{1, 2, 23, 3, 4.5, 56, 'game', 'name'}

In [26]:
S.remove("game")
S

{1, 2, 23, 3, 4.5, 56, 'name'}

In [30]:
D

{23: 'twothree', 'B': 5343, 'newkey': 'newvalue', 'y': 'YY', 'z': 10}

In [33]:
del D['B']
D

{23: 'twothree', 'newkey': 'newvalue', 'y': 'YY', 'z': 10}

In [34]:
L

[1, 3, 4.5, 'how', 'are', 6, 'you', 6.8]

In [35]:
L2 = L
L2

[1, 3, 4.5, 'how', 'are', 6, 'you', 6.8]

In [36]:
L2[2] = "four point eight"
L2

[1, 3, 'four point eight', 'how', 'are', 6, 'you', 6.8]

In [37]:
L

[1, 3, 'four point eight', 'how', 'are', 6, 'you', 6.8]

In [38]:
L2 = L.copy()
L2

[1, 3, 'four point eight', 'how', 'are', 6, 'you', 6.8]

In [39]:
L2[2] = 4.9
L2

[1, 3, 4.9, 'how', 'are', 6, 'you', 6.8]

In [40]:
L

[1, 3, 'four point eight', 'how', 'are', 6, 'you', 6.8]

In [41]:
L3 = L[1:5]
L3

[3, 'four point eight', 'how', 'are']

In [43]:
L3[0] = "three"
L3

['three', 'four point eight', 'how', 'are']

In [44]:
L

[1, 3, 'four point eight', 'how', 'are', 6, 'you', 6.8]

In [45]:
help(L.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [46]:
L.clear?

Signature: L.clear()
Docstring: Remove all items from list.
Type:      builtin_function_or_method

In [47]:
L.pop?

Signature: L.pop(index=-1, /)
Docstring:
Remove and return item at index (default last).

Raises IndexError if list is empty or index is out of range.
Type:      builtin_function_or_method

In [48]:
L.reverse()
L

[6.8, 'you', 6, 'are', 'how', 'four point eight', 3, 1]

In [49]:
L[::-1]

[1, 3, 'four point eight', 'how', 'are', 6, 'you', 6.8]

In [50]:
D.items()

dict_items([(23, 'twothree'), ('newkey', 'newvalue'), ('y', 'YY'), ('z', 10)])

In [51]:
L

[6.8, 'you', 6, 'are', 'how', 'four point eight', 3, 1]

In [52]:
T

(1, 3, 4.5, 'name', 2)

In [53]:
S

{1, 2, 23, 3, 4.5, 56, 'name'}

In [54]:
D

{23: 'twothree', 'newkey': 'newvalue', 'y': 'YY', 'z': 10}

In [55]:
D2 = {'A':L,"B":T,"C":S,"D":D}

In [58]:
D2["A"]

[6.8, 'you', 6, 'are', 'how', 'four point eight', 3, 1]

In [59]:
D2["A"][3]

'are'

In [60]:
K = D2["D"]
K

{23: 'twothree', 'newkey': 'newvalue', 'y': 'YY', 'z': 10}

In [61]:
for x in K:
    print(x,K[x])

23 twothree
newkey newvalue
y YY
z 10

In [62]:
L3 = [L,T,D,23,"game"]

In [63]:
type(L3[2])

dict

In [64]:
L3 = [x**2 for x in range(10)]

In [65]:
L3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
S3 = {x**2 for x in range(2,20,3)}

In [67]:
S3

{4, 25, 64, 121, 196, 289}

In [69]:
"""Let say you are a teacher and you have different student
records containing id of a student and the marks list in each subject
where different students have taken different number of subjects.
All these records are in hard copy. You want to enter all the data in computer
and want to compute the average marks of each student and display"""
def getDataFromUser():
    D = {}
    while True:
        studentID = input("Enter student ID: ")
        markslist = input("Enter the marks by comma separated values: ")
        moreStudent = input('Enter "no" to quit insertion')
        if studentID in D:
            print(studentID, "is already inserted")
        else:
            D[studentID] = markslist.split(",")    
        if moreStudent.lower() == "no":
            return  D

In [72]:
studentData = getDataFromUser()

12 is already inserted

In [73]:
studentData

{'12': ['56', '45', '13'],
 '45': ['44', '55', '66', '77', '4'],
 '23': ['45', '45']}

In [77]:
def getAvgMarks(D):
    avgMarks = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s += int(marks)
        avgMarks[x] = s/len(L)    
    return avgMarks

In [78]:
avgM = getAvgMarks(studentData)

In [79]:
avgM

{'12': 38.0, '45': 49.2, '23': 45.0}

In [80]:
for x in avgM:
    print("Student :",x,"got avg marks as: ",avgM[x])

Student : 12 got avg marks as:  38.0
Student : 45 got avg marks as:  49.2
Student : 23 got avg marks as:  45.0